html {
    background-color: #A5F1E9;
}
@media only screen and (max-width: 810px) {
    html {
      font-size: 14px;
    }
  }
  
  
  @media only screen and (max-width: 540px) {
    html {
      font-size: 12px;
    }
  }

@media only screen and (max-width: 350px) {
    ul {
        font-size: smaller;
        
    }
    .nav-list {
        margin: 2px;
        flex-shrink: 2;
    }
    
}

.top-container { 
    background-color: #A5F1E9;
    position: relative;
    scroll-padding-top: 100px;
    margin: 0;
        
}

.navbar {
    position: relative;
    z-index: 2;
    padding: 25px;
}

.nav-link {
    display: inline-block;
    text-align: center;
    list-style: none;
    position: relative;
    margin: 0 5px 0;
    border: 1px solid #090a0a;
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
}
 
.nav-list {
    margin: 10px;
    
    right: 0;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

/*headers*/
.my-name {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: #345c5c;
    line-height: 2;
    z-index: 2;
    position: relative;
      
}

.h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #345c5c;
    font-weight: normal;
    
}

.subtitle {
    z-index: 3;
}

.h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999e
}

/* Images*/

.profile-img {
    border-radius: 75rem;
    width: 15%;
    margin-top: 50px;
}

.top-cloud {
    position: absolute;
    left: 50em;
    top: 30;
    margin-left: 15%;
    animation-name: cloud;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.top-cloud2 {
    position: relative;
    right: 30em;
    bottom: 68%;
    animation: cloud 11s infinite linear;
    margin-left: 5%;
    
   
}

.mountain {
    width: 40%;
    z-index: 0;
    position: relative;
}

.bottom-cloud {
    position: relative;
    left: 50em;
    bottom: 50%;
    margin-left: 15%;
    animation-name: cloud;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

.bottom-cloud2 {
    position: relative;
    left: 65%;
    bottom: 110px;
    animation: cloud 10s infinite linear;
    margin-left: 15%;
}

.bottom-cloud3 {
    position: absolute;
    right: 65%;
    bottom: 100px;
    animation: cloud 20s infinite linear;
    margin-left: 25%;
    z-index: 1;
}

.cloud {
    position: absolute;
    /*   */
    animation: cloud 30s linear infinite;
    animation-direction: alternate-reverse;
  }

  .cloud2 {
    position: absolute;
    animation: cloud2 30s linear infinite;
    animation-direction: alternate-reverse;
  }
  
@keyframes cloud {
    0% {
        left: 0;
      }
    50% {
        left: 50;
      }

    75% {
        left: 75;
    }
    100% {
        left: 100;
        
      }
    
  }

  @keyframes cloud2 {
    0% {
        right: 0;
      }
    50% {
        right: 50;
      }

    75% {
        right: 75;
    }
    100% {
        right: 100;
        
      }
    }
.tech-img {
    width: 25%;
    float: left;
    margin-right: 30px;    
}

.bike-img {
    width: 25%;
    float: right;
    margin-right: 30px;
}

.poet-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

hr {
    border: 6px dotted #729d9e;
    border-bottom: none;
    width: 10%;
    margin: 100px auto;
    
}

.titles {
    list-style: none;
    padding-left: 0px;
    
}

.school {
    line-height: double;
    font-size: 1.5rem;
}

table {
    width: 90%;
}
.theader {
    font-size: 20px;
    background-color: none;
}

.work-experience {
    margin-left: auto;
    margin-right: auto;
}

tbody tr:nth-child(odd) {
    background-color: #A5F1E9;
  }


.middle-container {
    background-color: rgb(247, 243, 239);
    margin: 0;
   
}

.bottom-container {
    margin: auto;
    background-color: #A5F1E9;
    width:  100%;
    padding: 50px 0 60px;
}

.skills-header {
    text-transform: unset;
}


.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}


a {
    color: #090a0a;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a:hover {
    color: #fc3c7c;
}

.btn {
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #2980b9);
    background-image: -moz-linear-gradient(top, #11999E, #2980b9);
    background-image: -ms-linear-gradient(top, #11999E, #2980b9);
    background-image: -o-linear-gradient(top, #11999E, #2980b9);
    background-image: linear-gradient(to bottom, #11999E, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 6px 0px 3px #1373bd;
    font-family: Arial;
    color: #ffffff;
    font-size: 24px;
    padding: 10px 20px 10px 20px;
    border: solid #11999E 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #fc3c7c;
    background-image: -webkit-linear-gradient(top, #fc3c7c, #3498db);
    background-image: -moz-linear-gradient(top, #fc3c7c, #3498db);
    background-image: -ms-linear-gradient(top, #fc3c7c, #3498db);
    background-image: -o-linear-gradient(top, #fc3c7c, #3498db);
    background-image: linear-gradient(to bottom, #fc3c7c, #3498db);
    text-decoration: none;
  }

  .footer-link {
    margin: 10px;
  }

  .copyright {
    color: #11999e

}

